<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="en">

<head>
<!--TITLE-->
    <title>Cody Ward | Digital Portfolio</title>
<!--FAVICON -->
    <link rel="shortcut icon" type="image/png" href="assets//img/favicon.png"/>
        
<!--META TAGS-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
<!--FONTS-->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,200,100">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    
<!--STYLES-->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.min.css">
</head>
<body ng-app="myApp" class="ng-cloak">
	
<!--HEADER-->
<header class="header">
    <div class="header-image">
     	<h1>Cody Ward | Digital Portfolio</h1>
    </div>
</header>

<!--WRAPPER-->
<div class="wrapper" ng-controller="mainController">
    
<!--CATAGORIES SECTION-->    
    <aside class="catagory-container">
    	<h1>CATAGORIES</h1>
        <ul>
        	<!-- Did not use angular to pass in because there is a bug with the sortTag. Will revisit in later release -->
            <li class="catagory-option" ng-click="sortTag('angularjs')">AngularJS</li>
            <li class="catagory-option" ng-click="sortTag('bootstrap')">Bootstrap</li>
            <li class="catagory-option" ng-click="sortTag('css3')">CSS3</li>
            <li class="catagory-option" ng-click="sortTag('cucumber')">Cucumber</li>
			<li class="catagory-option" ng-click="sortTag('drupal')">Drupal</li>
			<li class="catagory-option" ng-click="sortTag('html5')">HTML5</li>
			<li class="catagory-option" ng-click="sortTag('illustrator')">Illustrator</li>
			<li class="catagory-option" ng-click="sortTag('javascript')">JavaScript</li>
			<li class="catagory-option" ng-click="sortTag('photoshop')">Photoshop</li>
			<li class="catagory-option" ng-click="sortTag('python')">Python</li>
			<li class="catagory-option" ng-click="sortTag('sass')">Sass</li>
			<li class="catagory-option" ng-click="sortTag('tutorial')">Tutorial</li>
        </ul>
    </aside>
    
<!--RESULTS SECTION-->  
    <section class="results-container">
        <div>
        	<h1>RESULTS</h1>
            <div ng-repeat="x in results | filter:tagFilter">
                <div class="results-box box" ng-click="openProject(x)">
                    <div class="result-image">
                    	<img src="{{ x.image }}" height="130" width="130">
                    </div>
                    <div class="result-label">
                    	<h3><span class="result-catagory">{{ x.projectType }}</span></h3>
                    </div>
                    <div class="result-title">
                    	<h2>{{ x.title }}</h2>
                    </div>
                    <div class="result-description">
                    	<p>{{ x.description }}</p>
                    </div>
                    <div class="result-tags">
                    	<p class="tag-labels"><span class="tags-box" ng-repeat="tech in x.tech">{{ tech }}</span></p>
                   	</div>
                   	<div class="result-disclaimer">
                    	<p>{{ x.disclaimerText }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
<!--INFO SECTION-->         
    <aside class="info-container">
    		
<!--FEEDBACK SECTION-->
		<h1>FEEDBACK</h1>
		<div class="feedback-container">
			<div id="feedbackCarousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#feedbackCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#feedbackCarousel" data-slide-to="1"></li>
					<li data-target="#feedbackCarousel" data-slide-to="2"></li>
					<li data-target="#feedbackCarousel" data-slide-to="3"></li>
					<li data-target="#feedbackCarousel" data-slide-to="4"></li>
					<li data-target="#feedbackCarousel" data-slide-to="5"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div ng-repeat="x in feedback" class="quote-container item {{ x.active }}">
						<div class="quote-box">
							<p class="quote-text">{{ x.quoteText }}</p>
							<p class="credit">{{ x.quoteSource }}</p>
							<p class="roll">{{ x.sourceRoll }}</p>
						</div>
					</div>	
				</div>
				<a class="left carousel-control" href="#feedbackCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#feedbackCarousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		
<!--EMPLOYMENT SECTION-->
		<h1>EMPLOYMENT</h1>
		<div ng-repeat="x in employment" class="employment-container">
			<h4>{{ x.employer }}</h4>
			<a target="_blank" href="{{ x.link }}"><img src="{{ x.image }}"></a>
			<p class="position">{{ x.position }}</p>
			<p>{{ x.duration }}</p>
		</div>
		
<!--EDUCATION SECTION-->
		<h1>EDUCATION</h1>
		<div ng-repeat="x in education" class="education-container">
			<h4>{{ x.school }}</h4>
			<a target="_blank" href="{{ x.link }}"><img src="{{ x.image }}"></a>
			<p class="position">{{ x.degree }}</p>
			<p class="field">{{ x.field }}</p>
			<p>{{ x.duration }}</p>
		</div>

<!--RESUME SECTION-->
		<h1>RESUME</h1>
		<div class="resume-container">
			<a target="_blank" href="assets/docs/CodyLWard-Resume.pdf"><img class="resume-image" src="assets/img/aside-pdf.png"></a>
		</div>
    </aside>
    
<!--SUBMIT FEEDBACK SECTION-->    
    <section class="connect-section">
    	<h1><span><i class="fa fa-arrow-circle-o-down"></i></span>&nbsp;&nbsp;Please share your feedback.&nbsp;&nbsp;<span><i class="fa fa-arrow-circle-o-down"></i></h1>
    </section>
	<section class="sub-section">
		<div class="connect">
			<div class="connect-container" method="POST">
				<form action="feedback.php">
					  <input type="text" name="name" placeholder="Name"><br>
					  <input type="text" name="email" placeholder="Email"><br>
					  <input type="text" name="subject" placeholder="Subject"><br> 
					  <textarea name="feedback" rows="10" cols="50" placeholder="Feedback"></textarea>
					  <div class="submit-section">
					  		<input type="submit" value="Submit">
					  </div>
				</form>
			</div>
		</div>
	</section>
	</div> <!-- END OF WRAPPER -->
	
<!--FOOTER-->
    <footer class="footer" ng-controller="footerController">
    	<div class="social-container">
    		<div ng-repeat="x in social" class="social-icon">
    			<a target="_blank" href="{{ x.link }}"><i class="social-icon-logo fa {{ x.icon }}"></i></a>
    		</div>
    		<!-- <div class="social-icon"><a target="_blank" href="http://www.twitter.com"><i class="social-icon-logo fa-fa-twitter"></i></a></div>
    		<div class="social-icon"><a target="_blank" href="http://www.twitter.com"><i class="social-icon-logo fa fa-linkedin"></i></a></div>
    		<div class="social-icon"><a target="_blank" href="http://www.twitter.com"><i class="social-icon-logo fa fa-google-plus"></i></a></div>
    		<div class="social-icon"><a target="_blank" href="http://www.twitter.com"><i class="social-icon-logo fa fa-codepen"></i></a></div>
    		<div class="social-icon"><a target="_blank" href="http://www.twitter.com"><i class="social-icon-logo fa fa-gitlab"></i></a></div>
    		<div class="social-icon"><a target="_blank" href="http://www.twitter.com"><i class="social-icon-logo fa fa-skype"></i></a></div> -->
    	</div>
        <p>&copy; 2016 Cody Ward. All rights reserved.</p>
    </footer>
    
<!--SCRIPT TAGS-->
    <script src="assets/js/jquery-1.12.4.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/bootstrap-ui-0.12.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/main.js"></script>
<!--GOOGLE ANALYTICS-->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-79527012-1', 'auto');
	  ga('send', 'pageview');
	</script>
</body>
</html>