<div id="overlayModal" class="custom-modal" style="border-radius: 100px;">
	<div class="modal-top-bar">
		<div class="ng-modal-close" data-ng-click="cancel()"><span class="glyphicon glyphicon-remove close-x"></span></div>
		<div class="modal-tag">
			<h3 id="{{ projectTags }}">{{ projectType }}</h3>
		</div>
	</div>
	<div class="modal-wrapper">
		<div class="modal-project-preview">
			<img ng-src="{{ modalImgSrc }}" alt="Project Image" />
		</div>	
		<div class="modal-title-section">
			<h4 class="modal-project-name">{{ projectTitle }}</h4>
		</div>
		<div class="modal-content-section">
			<p class="modal-project-description">{{ longDesc }}</p>
		</div>
		<div class="modal-bottom-bar">
			<div class="modal-btn"><a target="_blank" ng-href="{{ link }}">External Link&nbsp;<span class="glyphicon glyphicon-link"></span></a></div>
			<div class="modal-disclaimer"><p>{{ disclaimer }}</p></div>
		</div>
	</div>
</div>