@import '_variables';

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: $blue700;
}
h1, h3, p {
    font-size: 1.5em;
    font-weight: 400;
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
    color: $blue900;
}
p {font-size: 1em;}

////////////////////////////////////
// ANGULARJS HELPERS
////////////////////////////////////
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.box {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
}
.wrapper {
    max-width: 1200px;
    height: calc(100% - 80px);
    min-height: 650px;
    margin: 0 auto;
}
.header, 
.footer {
    height: 80px;
    width: 100%;
    background: $blue900;
    color: white;
    float: left;
}
.header {
    text-align: center;
    font-size: 1.75em;
    h1 {
        color: white;
        line-height: 80px;
    }
}
.footer {
    height: 250px;
    float: left;
    p {
        color: white !important;
        // line-height: 80px;
        padding: 0px;
        text-align: center;
    }
}
.social-container {
    width: 300px;
    height: 200px;
    margin: 0px auto;
    padding: 10px;
}
.social-icon {
    height: 50px;
    width: 50px;
    margin: 20px;
    background: $blue700;
    border-radius: 25px;
    float: left;
    font-size: 1.75em;
    text-align: center;
    &:hover {
        background: $blue300;
    }
}
.social-icon-logo {
    color: white !important;
    line-height: 50px;
}
.catagory-container, 
.results-container,
.info-container {
    background: white;
    width: 20%;
    height: calc(100% - 50px);
    float: left;
    overflow-y: scroll;
    padding: 0px 20px 0px 20px;
    h1 {
        text-align: center;
        margin-bottom: 10px;
        color: white;
        font-weight: 400;
        font-size: 1.8em;
        font-family: 'Oswald', sans-serif;
    }
    h2 {
        font-size: 1.8em;
        color: $orangeA700;
        vertical-align: middle;
        line-height: 30px;
        margin-top: 0px; //Overrides unknown 20px top margin
    }
    h3 {
        margin: 0;
        margin-bottom: 5px;
        font-size: 1.2em;
    }
}
.catagory-container {
    width: 20%;
    height: calc(100% - 50px);
    background: white;
    padding: 20px;
    h1 {
        color: $orangeA700;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        font-size: 1.4em;
        padding: 5px;
        cursor: pointer;
        margin: 5px 0;
        color: $blue700;
        &:hover {border-right: solid 4px $blue900;}
    }
}
.results-container {
    background: $blue300;
    width: 50%;
    padding: 20px 20px 0px 20px;
    h1 {color: white;}
}
.info-container {
    padding-top: 20px;
    width: 30%;
    background: $blue300;
}

// RESULTS STYLES
.results-box {
    width: 100%;
    height: 250px;
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer; 
    position: relative;
    box-shadow: 0px 2px 10px $blue900;
    border-radius: 10px;
    img {
        float: left;
        margin-right: 10px;
       
    }
    &:hover {box-shadow: 0px 5px 20px $blue900;}
}
.result-image,
.result-label,
.result-title,
.result-description,
.result-tags, {
    display: block;
    float: left;
    width: calc(100% - 250px);
}
.result-image {
    width: 230px;
    height: 230px;
    img {
        border-radius: 7px;
        height: 210px;
        width: 210px;
    }
}
.result-catagory {color: $blue700;}
.result-label {height: 25px;}
.result-title {
    min-height: 40px;
    height: auto;
}
.result-description {
    height: auto;
    p{color: $grey900 !important;}
}
.result-tags {
    height: auto;
    font-size: 0.8em;
}
.tag-labels {
    margin-right: 2px;
}
.tags-box{
    background: $blue500;
    float: left;
    color: white;
    padding: 2px 4px;
    margin: 0px 5px 5px 0px;
    border-radius: 5px;
}

.active-option {
    border-right: solid 4px $blue900;
    color: $orangeA700 !important;
    font-weight: 900 !important;
}

.feedback-container {
    width: 100%;
    padding: 20px 0px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 2px 10px $blue900;
}
.employment-container,
.education-container,
.resume-container {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px $blue900;
    h4, p {
        margin: 0px;
        padding: 0px;
        font-size: 1.3em;
        color: $orangeA700;
        text-align: center;
    }
    p {
        font-size: 1em;
        color: $blue500;
    }
    img {
      height: 100px;
      display: block;
      margin: 0px auto;
    }   
}
.resume-image {
    margin-top: 10px !important;
}
.position {
    color: $blue900 !important;
}
.field {color: $blue300 !important};

//Override Bootstrap Indicators Placement
.carousel-indicators {
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
}
.resume-link {
    img {
        display: block;
        margin: 0px auto;
        height: 120px;
        box-shadow: 0px 2px 10px $blue900;
    }
}
.connect-section {
    height: 50px;
    width: 100%;
    background: $orangeA700;
    float: left;
    text-align: center;
    font-size: 1.5em;
    h1 {
        color: white;
        line-height: 50px;
    }
}
.connect {
    height: 515px;
    width: 100%;
    float: left;
    background: $blue300;
}
.connect-container {
    height: 515px;
    width: 50%;
    margin: 0px auto;
    padding-top: 40px;
    input[type="text"] {
        height: 40px;
        width: 100%;
        margin-bottom: 20px;
        font-size: 1.3em;
        padding: 10px;
        border: 2px solid $blue700;
        border-radius: 10px;
    }
    textarea {
        height: 200px;
        width: 100%;
        padding: 10px;
        font-size: 1.3em;
        resize: none;
        margin: 0px;
        border: 2px solid $blue700;
        border-radius: 10px;
    }
}
.submit-section {
    height: 100px;
    width: 100%;
    padding-top: 20px;
    input[type="submit"] {
        float: right;
        height: 40px;
        font-size: 1.3em;
        margin-right: 20px;
        color: white;
        background: $orangeA700;
        border: none;
        border-radius: 10px;
        padding: 0px 20px;
        &:hover {background: $orangeA400;}
    }
    
}
.quote-container {height: 340px;} //Fixes cut off on slide transition

.quote-box {
    padding: 0px 10px;
    width: 75%;
    margin: 0px auto;
}
.quote-text {
    font-size: 1.4em;
    font-style: italic;
    text-align: center;
    color: $grey900 !important;
}
.credit {
    margin-top: 10px !important;
    padding: 0px !important;
    font-size: 1em !important;
    text-align: right !important;
    color: $orangeA700 !important;
}
.roll {
      margin: 0px;
      margin-bottom: 20px;
      color: $blue500;
      font-size: 0.9em;
      text-align: right !important;
}

// BOOTSTRAP CAROUSEL OVERRIDES
.carousel-control.left, 
.carousel-control.right {
    background-image:none !important;
    filter:none !important;
}

// BOOTSTRAP CHEVRON OVERRIDES
.left,
.right {
    color: $blue900;
    opacity: 1;
    &:hover {
        color: $blue700;
    }
}
.carousel-indicators li {
    background: $blue900;
    border: 2px solid $blue900;
}

//MODAL STYLES
.modal-content {
    border-radius: 10px;
    border: none;
}
.custom-modal {
    border-radius: 0px;
}
.modal-wrapper {
    padding: 20px;
}
.modal-top-bar {
    height: 50px;
    font-size: 1.2em;
    padding: 0 20px;
}
.modal-bottom-bar {
    height: auto;
}
.modal-btn {
    width: 160px;
    text-align: center;
    cursor: pointer;
    border: none;
    background: $blue900;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    margin: 6px 10px 0 0;
    &:hover {background: $blue700};
    &:focus {outline:0;}
    border-radius: 0px;
    a {
      text-decoration: none;
      color: white;
    }
  }
.modal-tag {
    display: inline-block;
    float: left;
    color: white;
    line-height: 50px;
    h3 {
        margin-top: 10px;
        font-size: 20px;
        background: $blue900;
        color: white;
        padding: 5px 10px;
    }
}
.close-x {
    display: inline-block;
    float: right;
    color: $blue900;
    font-size: 1.5em;
    line-height: 50px;
    &:hover {color: $blue700;}
}
.modal-project-preview {
    img {
        width: 100%;
        height: auto;
        box-shadow: 0px 5px 10px $blue900;
    }
}
.modal-title-section, {
    height: 50px;
    width: 100%;
    margin: 20px 0;
    h4 {
        text-align: center;
        font-size: 2em;
        line-height: 50px;
    }
}
.modal-content-section {
    padding: 0 20px 20px 20px;
    p {
        color: blue900;
        font-size: 1.3em;
    }
}
.modal-project-description {
    height: 20%;
    p {font-size: 1.2em;}
}
.modal-disclaimer {
    padding-left: 10px;
    height: 30px;
    font-style: italic;
    line-height: 50px;
    p {color: $blue500;}
}

////////////////////////////////////
// MEDIA QUERIES
////////////////////////////////////
@media only screen and (max-width: 1000px) {
    // body {overflow-y: none;}
    .header {
        height: 50px;
        h1 {
            font-size: 1.1em;
            line-height: 50px;
        }
    }
    .catagory-container, 
    .results-container,
    .info-container {
        width: 80%;
        margin: 10% 10% 0px 10%;
    }
    .catagory-container {
        height: 175px;
        width: 90%;
        // margin: 40px 4% 0px 4%;
        border-radius: 10px;
        li {
            font-size: 1.3em;
            padding: 5px;
            margin: 2px 0;
            text-align: center;
            &:hover {border: none;}
        }
    }
    .results-container {
        height: 400px;
        border-radius: 10px;
    }
    .info-container {
        height: auto;
        width: 100%;
        margin: 0px;
        margin-top: 40px;
        padding: 20px 80px;
        overflow: hidden;
    }
    .active-option {border: none;}
    
    .connect-section {
        h1 {font-size: 1.1em;}
    }
    .connect-container {
        width: calc(100% - 160px);
    }
    .results-box {
        width: 100%;
        // min-width: 430px;
        height: 160px;
        box-shadow: 0px 2px 10px $blue900;
        img {
            display: block;
            margin: 0px auto;
        }
        h2 {
            font-size: 1.2em !important;
            margin: 0px;
        };
        &:hover {box-shadow: 0px 5px 20px $blue900;}
    }
    .result-image,
    .result-label,
    .result-title,
    .result-description,
    .result-tags, {
        // width: 100%;
        width: 50%;
        display: block;
        // float: left;
        // text-align: center;
    }
    .result-image {
        height: 120px;
        width: 120px;
        margin-right: 20px;
        background: red;
        float: left;
        img {
            height: 120px;
            width: 120px;
            display: block;
        }  
    }
    .result-catagory {
        width: calc(100% - 160px);
        color: $blue700;
        
    }
    .result-label {
        width: calc(100% - 160px);
        height: 25px;
     }
    .result-title {
        width: calc(100% - 160px);
        min-height: 40px;
        height: auto;
    }
    .result-description {display: none;}
    .tag-labels {font-size: 0.9em;}
}





